@model IEnumerable<StockInventory.Models.Item>

@{
    ViewBag.Title = "Equipos";
}

<h2>Equipos</h2>

<div class="form-inline">
    <p class="pull-left">
        @Html.ActionLink("Agregar", "Create")
    </p>
    <div class="form-group pull-right" style="margin-bottom:15px">
        <label for="filter" class="control-label">Filtrar:</label>
        <input type="text" id="filter" name="filter" class="form-control" />
    </div>
</div>

<table id="tableItems" class="table table-striped table-hover table-bordered">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Office.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Observation)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="row-filter">
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Office.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Observation)
            </td>
            <td class="text-center">
                @{
                    var employee = string.Empty;
                    if (item.Employee != null) { employee = item.Employee.Cedula + " - " + item.Employee.FirstName + " " + item.Employee.LastName; }
                }
                @Html.DisplayFor(modelItem => employee)
            </td>
            <td class="text-center">
                @Html.ActionLink("Asignar", "Assign", new { id = item.ID }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        $("#filter").on('keyup', function () {
            filterTable(this.value)
        })

        function filterTable(value) {
            $("#tableItems .row-filter").each(function () {
                var found = false;
                $(this).each(function () {
                    if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) != -1)
                        found = true;
                    found == true ? $(this).show() : $(this).hide()
                })
            })
        }
    </script>
}
