@model IEnumerable<StockInventory.Models.User>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<div class="form-inline">
    <p class="pull-left">
        @Html.ActionLink("Agregar", "Create")
    </p>
    <div class="form-group pull-right" style="margin-bottom:15px">
        <label for="filter" class="control-label">Filtrar:</label>
        <input type="text" id="filter" name="filter" class="form-control" />
    </div>
</div>

<table class="table table-striped table-hover table-bordered" id="tableItems">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row-filter">
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        $("#filter").on('keyup', function () {
            filterTable(this.value)
        })

        function filterTable(value) {
            $("#tableItems .row-filter").each(function () {
                var found = false;
                $(this).each(function () {
                    if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) != -1)
                        found = true;
                    found == true ? $(this).show() : $(this).hide()
                })
            })
        }
    </script>
}